@page "/apis"
@using RestSharp

<h1 class="mt-3">API Dashboard</h1>

<MudButton OnClick="@CallBloggingApi" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>


@code {


    private async Task CallBloggingApi()
    {
        string apiUrl = "https://localhost:7114";

        //model = UserModel
        var client = new RestClient(apiUrl);

        //var request = new RestRequest("/user/register", Method.Post);
        var request = new RestRequest("/blogs", Method.Get);
        request.AddHeader("Content-Type", "application/json; charset=UTF-8");

        //request.AddParameter("user", model);
        //request.RequestFormat = DataFormat.Json;
        //request.AddJsonBody(new { user = model });

        var response = client.Execute(request);

        Console.WriteLine($"{(response.IsSuccessStatusCode ? "OK" : " X")} {response.StatusCode}  {response.Content}");
    }


}

